{% set menus = menu_service.findAll %}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Blog - {% block title %}{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>

    {% if is_granted('ROLE_AUTHOR') %}
        <nav class="py-2 bg-dark border-bottom">
            <div class="container d-flex flex-wrap">
                <div class="dropdown">
                    <a class="nav nav-link dropdown-toggle text-white" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Mon Blog
                    </a>
                    <ul class="dropdown-menu" aria-labelledby ="dropMenuButtonAdminDashboard">
                        <li><a class="dropdown-item" href="{{path('admin')}}">Tableau de bord</a></li>
                        {% if is_granted('ROLE_ADMIN') %}
                            <li><a class="dropdown-item" href="{{ ea_gen_url('MenuCrudController')}}">Menu</a></li>
                        {% endif %}
                        
                    </ul>
                </div>
                <div class="dropdown">
                    <a class="nav nav-link dropdown-toggle text-white" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Ajouter
                    </a>
                    <ul class="dropdown-menu" aria-labelledby ="dropMenuButtonAdminAdd">
                        <li><a class="dropdown-item" href="{{ea_gen_url('ArticleCrudController','new')}}">Article</a></li>
                        <li><a class="dropdown-item" href="{{ea_gen_url('PageCrudController','new')}}">Page</a></li>
                        
                    </ul>
                </div>
            </div>
        </nav>
    {% endif %}
        <div class="container">
            <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
                <a class="d-flex align-items-center nb-3 mb-md-0 me-md-auto text-dark text-decoration-none" href="{{path('app_home')}}">
                    <span class="fs-4">Mon Blog</span>
                </a>
                <ul class="nav nav-pills">

                    {% for menu in menus %}
                        {% if menu.subMenus.count > 0 %}
                            <div class="dropdown">
                                <a class="nav nav-link text-dark dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                {{ menu.name }}
                                </a>
                                <ul class="dropdown-menu" >
                                {% for subMenu in menu.subMenus %}
                                    <li><a class="dropdown-item" href="{{ subMenu|menuLink }}">{{subMenu.name}}</a></li>
                                {% endfor %}
                                </ul>
                            </div>

                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link text-dark"  href="{{menu|menuLink}}">{{ menu.name }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li class="nav-item">
                            <a class="nav-link text-dark"  href="{{path('app_register')}}">S'inscrire</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="{{path('app_login')}}">Se connecter</a>
                        </li>
                    {% else %}
                        <div class="dropdown">
                            <a class="nav nav-link dropdown-toggle text-dark" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                {{ app.user.username|capitalize}}
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{{path('app_profile', {username : app.user.username })}}">Mon profil</a></li>
                                <li><a class="dropdown-item" href="{{path('app_logout')}}">Déconnexion</a></li>
                            </ul>
                        </div>
                    {% endif %}
                    

                </ul>
            </header>
        </div>
        {% block body %}{% endblock %}
        <div class="container">
            <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
                <div class="d-flex align-items-center">
                    <span class="copyright">©{{'now'|date('Y')}} Abdelghani Hamaz | All Rights Reserved</span>
                </div>
            </footer>
        </div>
    </body>
</html>
